<div class="webchat-overlay" id="webchat-overlay">
  <img
    height="150"
    src="https://cognigydemoimages.blob.core.windows.net/maxdonner/Riyadh-Air-Logo-white%20on%20transparent%20cropped.png"
    alt="riyadh air logo"
  />
</div>

<div
  class="livery_sticky_link"
  id="webchat-toggle-button"
  onclick="toggleWebchat('faq')"
>
  <div class="content">
    <h3>Chat with Assistant</h3>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="-8 -8 40 40"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
        />
      </svg>
    </div>
  </div>
</div>

<app-navbar></app-navbar>


<div style="background-color: #230751 !important;height: 100px;">
  <img src="" alt="">
</div>

<div id="accordion" class="main-container">


  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          Login Issues
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <ul style="display: flex;flex-direction: column;row-gap: 0.8rem;">
          <h3> I cannot view the login page</h3>
          <p>To use the application form you must have cookies ‘enabled’. If you do not have this, then you will not
            be
            able to see the login section of the application form.
          </p>

          <h3> I have forgotten my login details</h3>
          <p>If you have forgotten your username and password there are some steps you can take to retrieve them.
          </p>
          <h3> How to retrieve login details</h3>
          <p>To get your account details emailed to you within 10 minutes, use the 'Reset Password' link in the
            Application Center.
          </p>
          <p>You must use your account registration email address which we will use to communicate with you.
          </p>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
          Problems Saving Application Form
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul style="display: flex;flex-direction: column;row-gap: 0.8rem;">
          <h3> Cannot Edit Fields</h3>
          <p>You have attempted to edit some completed fields but the new changes will not save. Please follow the
            instructions below:
          </p>
          <h3> My data is not updating</h3>
          <p> Caching is when your computer stores the information from your last visit to a particular web page in
            temporary internet files. This is designed to reduce the time it takes for your computer to gather
            information
            from the Internet.
          </p>
        </ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          Submission Issues
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <ul style="display: flex;flex-direction: column;row-gap: 0.8rem;">
          <h3> I haven't completed all the mandatory fields</h3>
          <p>Mandatory fields must be completed before you can submit your application form.
          </p>
          <h3> Mandatory fields</h3>
          <p> The mandatory fields are marked with an asterisk * beside them.

            These fields must be completed before you can submit the application form.

            Occasionally, if a page asks for large amounts of information the data fields may be larger than the width
            of the page. If this is the case, use the scroll bar at the bottom of the page. Scroll across to the right
            and the missing mandatory field will appear.</p>



          <h3> I cannot access my saved/submitted application form</h3>
          <p>If you see an empty application form when you try to return to your previously started/submitted form,
            you
            could be logging in to the wrong profile.
          </p>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading4">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
          aria-controls="collapse4">
          Amending Information
        </button>
      </h5>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
      <div class="card-body">
        <ul style="display: flex;flex-direction: column;row-gap: 0.8rem;">
          <h3>How do I edit my personal details?</h3>
          <p>If your address, telephone number or email has changed from when you first registered it is easy to
            change
            your
            details.</p>
          <h3>Remove my personal information</h3>
          <p>If you no longer wish that we maintained your account or personal data, please submit your request to us
            by
            following the instruction set below and your account will be deactivated. Please be aware that if you have
            an
            open application, requesting your account to be deactivated may lead to your application being deleted.
          </p>

        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading5">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
          aria-controls="collapse5">
          Online Assessments
        </button>
      </h5>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
      <div class="card-body">
        <ul style="display: flex;flex-direction: column;row-gap: 0.8rem;">
          <h3>Assessment not launching</h3>
          <p>The assessment should launch in a pop-up window. If the assessment does not load it is likely that you
            have
            a
            pop-up blocker enabled on your computer or you are accessing the assessment using a browser or operating
            system
            that is not compatible with our assessments.</p>
        </ul>
      </div>
    </div>
  </div>


</div>

<app-footer></app-footer>