<footer class="new-footer" id="footer-section">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="nav-section">
          <div class="social-icons" style="display: flex;
          column-gap: 8%;">
            <a
              href="https://www.facebook.com/RiyadhAir"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="bg-Facebook"></span>
            </a>
            <a
              href="https://www.instagram.com/riyadhair/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="bg-Instagram"></span>
            </a>
            <a
              href="https://sa.linkedin.com/company/riyadhair?trk=public_post_feed-actor-name"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="bg-linkedin"></span>
            </a>
            <a
              href="https://twitter.com/RiyadhAir"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="bg-twitter"></span>
            </a>
            <a
              href="https://www.threads.net/@riyadhair"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="bg-Threads"></span>
            </a>
          </div>
  
          <ul class="menu-links">
            <a href="./">Home</a>
  
            <a href="./about-us/">About us</a>
  
            <a href="./media-center/">Media center</a>
  
            <a href="./careers/">Careers</a>
  
            <a href="./contact-us/">Contact us</a>
  
            <a
              href="/assets/pdf/policies/WebsitePrivacyPolicy_EN_09032023.pdf"
              target="_blank"
              >Privacy policy</a
            >
  
            <a
              href="/assets/pdf/policies/WebsiteTermsOfUse_EN_06032023.pdf"
              target="_blank"
              >Terms of Use</a
            >
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="logo-section">
          <div class="row">
            <div class="pif-logo col-12 col-sm-6">
              <img src="assets/images/footerLogo.svg" alt="" />
            </div>
  
            <div class="ra-logo col-12 col-sm-6">
              <img
                src="assets/images/riyahd_air_logo_en.svg"
                class="footer-logo horizontal"
              />
            </div>
          </div>
        </div>
        <div class="copyright" style="color: #fff">
          <p>© 2024 Riyadh Air | All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  