
<app-navbar></app-navbar>
<div
  class="scrolling-section"
  data-scroll-section-inview=""
  style="
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
    pointer-events: all;
background-color: #f5f8ff;"
>
  <section class="home-hero-section mb-2">
    <div class="hero-section" id="hero-section">
      <div id="hero-animation-section">
        <video
          id="video-banner"
          class="banner-image background-video videoPlay"
          playsinline=""
          muted
          data-scroll=""
          preload="auto"
          data-scroll-class="videoPlay"
          data-scroll-repeat="true"
          data-scroll-offset="25%, 25%"
          src="https://objectstorage.me-jeddah-1.oraclecloud.com/n/axvpubjsq7pr/b/media-files/o/RA_REVEAL_6s_DESK_EN.mp4"
          style="width: 100%"
          autoplay loop
        >
          
        </video>
      </div>
    </div>
  </section>
  <section class="home-journey-section pb-5" id="home-intro" style="background-color: #fff;">
    <div
      class="title-section text-center fade-in pt-5 pb-5"
      data-scroll=""
      data-scroll-repeat="true"
      data-scroll-class="fade-in"
    >
      <h2 style="color: #230751;margin-bottom: 1rem;
        font-size: 3rem; line-height: 56px; font-family: 'quiche-sans'">The Future Takes Flight</h2>

      <p style="color: #230751;     font-size: 1rem;
      line-height: 24px; font-family: 'Poppins', 'sans-serif';">
        The city that is already transforming the way we live is now redefining
        the way we fly. Welcome to Riyadh Air, a brand-new chapter in the sky.
      </p>
    </div>

    <div class="video-section" style="display: flex; width: 100%; align-items: center; padding: 0px 130px;">
      <video
      class="p-5"
        id="journey-video"
        class="journey-video"
        playsinline=""
        loop=""
        muted
        src="https://objectstorage.me-jeddah-1.oraclecloud.com/n/axvpubjsq7pr/b/media-files/o/RA_16x9_REVEAL_60s_EN.mp4"
        type="video/mp4"
        autoplay loop
      ></video>

      <a class="play-pause play" id="play-pause"></a>
      <a class="mute-unmute mute" id="mute-unmute"></a>
    </div>
  </section>

  <div class="carousel-title text-center" style="width: 100%;">
    <div class="row" style="margin-top: 100px; margin-bottom: 20px; width: 100%;">
      <div class="col-12 col-md-2 col-xl-3"></div>
      <div class="col-12 col-md-8 col-xl-6 text">
        
        <h2 style="color: #230751;margin-bottom: 1rem;
        font-size: 3rem; line-height: 56px; font-family: 'quiche-sans'">Reaching New Heights</h2>

      <p style="color: #230751; font-size: 1rem;
        line-height: 24px; font-family: 'Poppins', 'sans-serif';">
         A new era in travel begins with Riyadh Air, serving as the Kingdom of
         Saudi <br> Arabia’s window to the world and connecting the world to the
         wonders of <br> Saudi Arabia.
      </p>
      </div>
      <div class="col-12 col-md-2 col-xl-3"></div>
    </div>
  </div>
 

  <div class="" style=" margin-bottom: 40px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
        
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/1.jpg" class="d-block w-100" alt="First slide">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 p-5">
                <h2 style="color: #230751;margin-bottom: 1.2rem;
                font-size: 3rem; line-height: 56px; font-family: 'quiche-sans'">Inspired by the dynamic metropolis with a rich heritage.</h2>
                <p style="color: #230751;
                font-size: 1.25rem; line-height: 28px;">An ambitious vision for the future, Riyadh Air embodies Saudi Arabia's capital Riyadh at 40,000 ft in the sky.</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/2.jpg" class="d-block w-100" alt="First slide">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/2.jpg" class="d-block w-100" alt="First slide">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 p-5">
                <h2 style="color: #230751;margin-bottom: 1.2rem;
                font-size: 3rem; line-height: 56px; font-family: 'quiche-sans'">Taking technology to new heights</h2>
                <p style="color: #230751;
                font-size: 1.25rem; line-height: 28px;">
                  Riyadh Air will be the first digital-native airline, enabling digital innovation at every guest touchpoint for a seamless travel experience.
              </p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/3.jpg" class="d-block w-100" alt="First slide">
            </div>
          </div>
        </div>
        <div class="carousel-item">
    
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/3.jpg" class="d-block w-100" alt="First slide">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 p-5">
                <h2 style="color: #230751;margin-bottom: 1.2rem;
                font-size: 3rem; line-height: 56px; font-family: 'quiche-sans'">Taking hospitality to a whole new level</h2>
                <p style="color: #230751;
                font-size: 1.25rem; line-height: 28px;">
                  Riyadh Air will bring warm and authentic Saudi hospitality to the skies.
              </p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/4.jpg" class="d-block w-100" alt="First slide">
            </div>
          </div>
        </div>
        <div class="carousel-item">
     
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/4.jpg" class="d-block w-100" alt="First slide">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 p-5">
                <h2 style="color: #230751;margin-bottom: 1.2rem;
                font-size: 3rem; line-height: 56px; font-family: 'quiche-sans'">Flying to 100+ destinations</h2>
                <p style="color: #230751;
                font-size: 1.25rem; line-height: 28px;">
                  Riyadh Air will optimize the strategic location of the Kingdom of Saudi Arabia, connecting business and leisure travelers to more than 100 destinations worldwide by 2030.
              </p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/5.jpg" class="d-block w-100" alt="First slide">
            </div>
          </div>
        </div>
        <div class="carousel-item">
      
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/5.jpg" class="d-block w-100" alt="First slide">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 p-5">
                <h2 style="color: #230751;margin-bottom: 1.2rem;
                font-size: 3rem; line-height: 56px; font-family: 'quiche-sans'">Enjoying the wonders of Saudi Arabia</h2>
                <p style="color: #230751;
                font-size: 1.25rem; line-height: 28px;">
                  Riyadh Air will showcase Saudi Arabia's exciting cultural and natural attractions to tourists worldwide and embody the nation's authentic hospitality.
              </p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <img src="./../assets/images/1.jpg" class="d-block w-100" alt="First slide">
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="glimpse-future brand-story" style="background-image: url(assets/images/Our-brand-story-Background.jpg); width: 100%;">
    <div class="row" >
      <div class="col-12 col-md-7 column">
        <div class="future-desc" style="padding: 0rem 5rem 0rem 7rem;">
          <div class="info">
            <h2 style="color: #230751;margin-bottom: 1rem;
            font-size: 3rem; line-height: 56px; font-family: 'quiche-sans'">Our Brand Story</h2>
            <p style="color: #230751; font-size: 1rem;
            line-height: 24px; font-family: 'Poppins', 'sans-serif';">
              Inspired by the lavender blossoms that carpet Saudi Arabia, we've
              chosen this color because it symbolizes Saudi generosity and its
              authentic hospitality. We looked to the airplane window for
              inspiration; Riyadh Air will serve as Saudi Arabia's window to the
              world. The movement of birds' wings in flight and the elegant
              curves of Arabic calligraphy, an integral pillar of Saudi culture,
              are also essential parts of the Riyadh Air brand.
            </p>
            <p  style="color: #230751; font-size: 1rem;
            line-height: 24px; font-family: 'Poppins', 'sans-serif';">Riyadh Air will take flight toward the future of aviation.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 column">
        <div class="future-video">
          <video
            id="future-video"
            class="future-video"
            playsinline=""
            loop=""
            autoplay=""
            muted loop
            src="https://objectstorage.me-jeddah-1.oraclecloud.com/n/axvpubjsq7pr/b/media-files/o/our-brand-story-EN_web.mp4"
              type="video/mp4"
          >
            <!-- <source
              src="https://objectstorage.me-jeddah-1.oraclecloud.com/n/axvpubjsq7pr/b/media-files/o/our-brand-story-EN_web.mp4"
              type="video/mp4" 
            /> -->
          </video>
        </div>
      </div>
    </div>
  </div>

  <section class="separator">
    <img
      src="https://www.riyadhair.com/assets/images/contact-bg.png"
      alt="separator"
      style="width: 100%;"
    />
  </section>
</div>
<app-footer></app-footer>