
.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 80px;
    height: 60px;
}
.navbar-nav a{
    color: white;
}
.logo img{
  width: 90%;
  object-fit: contain;
}