<!-- <nav class="navbar navbar-expand-lg " style="z-index: 100;position: absolute;width: 100%;padding: 20px;">
    <div class="logo">
      <img src="assets/images/riyahd_air_logo_en.svg"  alt="img" />
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">HOME</a>
        <a class="nav-item nav-link" href="#">ABOUT US</a>
        <a class="nav-item nav-link" href="#">MEDIA CENTER</a>
        <a class="nav-item nav-link" href="#">CAREERS</a>
        <a class="nav-item nav-link" href="#">CONTACT US</a>
        <a class="nav-item nav-link" (click)="navigateToLogin()" style="cursor: pointer;">LOGIN</a>
      </div>
    </div>
  </nav> -->
 <nav
  class="navbar navbar-expand-lg"
  style="z-index: 100; position: absolute; width: 100%; padding: 20px"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/riyahd_air_logo_en.svg" alt="img" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      style="color: aliceblue;"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-family: 'quiche-sans'">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">HOME</a>
        <a class="nav-item nav-link" href="#">ABOUT US</a>
        <a class="nav-item nav-link" href="#">MEDIA CENTER</a>
        <a class="nav-item nav-link" href="#">CAREERS</a>
        <a class="nav-item nav-link" href="#">CONTACT US</a>
        <a class="nav-item nav-link" (click)="navigateToLogin()" style="cursor: pointer;">LOGIN</a>
      </div>
    </div>
  </div>
</nav> 
