.place {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.place a {
  margin-right: 0;
}
.vertical-line {
  width: 1px;
  background-color: gray;
  height: 300px;
  margin: 0 20px;
}

.vertical{
  width: 1px;
  background-color: #230751;
  height: 20px;
}
.top-img {
  display: flex;
  justify-content: center;
  padding: 2%;
}

h1 {
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
}
.loginside {
  display: flex;
  flex-direction: column;
  /* margin-top: 4%; */
}

.loginside p {
  text-align: center;
  font-weight: 600;
}

form {
  border: 2px solid gray;
  padding: 10px;
  margin: 0 auto;
  width: 400px;
  display: flex;
  width: 60%;
  border-radius: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}
.user-pass {
  border: none;
  border-bottom: 2px solid #230751;
  margin: 10px 0px;
  background: transparent;
  display: flex;
  flex-direction: row;
}

/* .loooo img{
  width: 20%;
  border: none;
  height: 100%;
  object-fit: cover;
  padding: 2px 10px;
} */

.loooo img{
  filter: invert(#230751);
  height: 20px;
  width: 20px;
  margin-top: 12px;
}
.user-pass input {
  width: 20%;
  width: 78%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-right: 2px solid #230751;
  border: none;
  background: none;
}
input[type="text"],
input[type="password"]:focus {
  outline: none;
}

.login-button {
  width: 60%;
  padding: 8px;
  background-color: #230751;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 2% 20%;
}

input[type="checkbox"] {
  margin-bottom: 20px;
}

.second-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

.second-section p {
  text-align: left;
}

@media (max-width: 600px) {
  .ng-untouched {
    width: 90%;
  }
  .loginside {
    margin-top: 15%;
    display: flex;
    /* flex-direction: row; */
  }

  .lora {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .place {
    width: 69%;
  }
  .second-section {
    width: 65% !important;
  }

  .vertical-line {
    display: none;
  }
  .top-img img {
    width: 300px !important;
    height: 70px !important;
    margin-bottom: 5%;
  }
}
