<div class="webchat-overlay" id="webchat-overlay">
    <img
      height="150"
      src="https://cognigydemoimages.blob.core.windows.net/maxdonner/Riyadh-Air-Logo-white%20on%20transparent%20cropped.png"
      alt="riyadh air logo"
    />
  </div>
  
  <div
    class="livery_sticky_link"
    id="webchat-toggle-button"
    onclick="toggleWebchat('checkin')"
  >
    <div class="content">
      <h3>Chat with Assistant</h3>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="-8 -8 40 40"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
          />
        </svg>
      </div>
    </div>
  </div>


<app-navbar></app-navbar>
<div style="background-color: #230751 !important;height: 100px;">
    <img src="" alt="">
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Check-In</title>
</head>
<body>
    <header style="margin-top: 15px;text-align: center;background-image: url('https://www.riyadhair.com/assets/images/contact-bg.png');">
        <div class="container">
            <h1>Online Check In</h1>
            <img src="assets/images/symbol.png" alt="Airplane Logo" >
        </div>
    </header>
    <main>
        <div class="container">
            <section class="check-in-form">
                <h2>Enter Your Booking Details</h2>
                <form action="#" method="POST">
                    <div class="form-group">
                        <!-- <label for="booking-number">Booking Number:</label> -->
                        <input type="text" id="booking-number" name="booking-number" placeholder="Enter your booking number" required>
                    </div>
                    <div class="form-group">
                        <!-- <label for="last-name">Last Name:</label> -->
                        <input type="text" id="last-name" name="last-name" placeholder="Enter your last name" required>
                    </div>
                    <button type="submit">Check In Now</button>
                </form>
            </section>
        </div>
    </main>
</body>
</html>


<app-footer></app-footer>