<div class="webchat-overlay" id="webchat-overlay">
    <img
      height="150"
      src="https://cognigydemoimages.blob.core.windows.net/maxdonner/Riyadh-Air-Logo-white%20on%20transparent%20cropped.png"
      alt="riyadh air logo"
    />
  </div>
  
  <div
    class="livery_sticky_link"
    id="webchat-toggle-button"
    onclick="toggleWebchat('flight')"
  >
    <div class="content">
      <h3>Chat with Assistant</h3>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="-8 -8 40 40"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
          />
        </svg>
      </div>
    </div>
  </div>

<app-navbar></app-navbar>
<div style="background-color: #230751 !important;height: 100px;">
    <img src="" alt="">
</div>

<div class="row justify-content-center py-5"
    style="background-image: url('assets/images/Our-brand-story-Background.jpg');width: 101%;">
    <div style="text-align: center;    font-family: 'quiche-sans';">
        <p>BOOK</p>
        <h3>Book a flight</h3>
        <p>Search for Riyadh flights and book online. See our routes <br> and schedules, and discover more about the
            experience you <br> can look forward to on board.</p>
    </div>
    <div class="booking-form">
        <div class="header">
            <p>Log in to earn and spend Riyadh Air</p>
            <a href="#">Advanced search: multicity, promo codes, partner airlines</a>
        </div>
        <form action="/search-flights" method="post">
            <div class="input-group">
                <input type="text" name="departureAirport" placeholder="Departure airport">
                <input type="text" name="arrivalAirport" placeholder="Arrival airport">
                <input type="date" name="departingDate" placeholder="Departing">
                <input type="date" name="returningDate" placeholder="Returning">
            </div>
            <div class="select-group">
                <select name="passengers">
                    <option value="1">1 Adult</option>
                    <option value="2">2 Adult</option>
                    <option value="3">3 Adult</option>
                </select>
                <select name="class">
                    <option value="economy">Economy Class</option>
                    <option value="business">Business Class</option>
                    <option value="first">First Class</option>
                </select>
                <button type="submit" style="background-color: #230751; color: #fff;">Search flights</button>
            </div>
        </form>
    </div>
    <div class="card1" style="text-align: left;    font-family: 'quiche-sans';">
        <h5>How to book a flight ticket with Riyadh Air</h5><br>
        <ul>
            <li>
                <h6>Book a flight ticket online</h6>
                <p>To find the right air ticket for your trip, just enter the location you’re flying from and your flight
                    destination. Enter your dates, class of travel and the number of passengers. Select ’Search flights’ to
                    continue with the online flight booking process and book a flight ticket that suits your travel plans.
                </p>
            </li>
            <li>
                <h6>Compare flight ticket fares</h6>
                <p>Look out for our Best Price Guarantee mark to make sure you’re getting the best flight ticket price when you book a flight with Riyadh.</p>
            </li>
        </ul>
    </div>
</div>


<app-footer></app-footer>