


.booking-form {
   
    width: 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header p {
    color: #333;
    font-size: 18px;
}

.header a {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group input[type="text"],
.input-group input[type="date"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.select-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-group select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.booking-form button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-form button:hover {
    background-color: #c0392b;
}

.card1{
    margin-top: 20px;
    text-align: left;
    padding: 50px;
    width: 80%;
    border: 1px solid purple;
    border-radius: 5px;
}


@media(max-width: 650px) {
    .select-group{
        display: flex;
        gap: 0.6rem;
        flex-direction: column;
    }
    .select-group select{
        width: 97%;
    }

    .select-group button{
        width: 97%;
    }
    .input-group{
        gap: 0.6rem;
    }
}