/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8ff;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
    font-family: 'quiche-sans';
    src: url('./assets/quichesans.otf') format('woff');
}